
  
  <section>



  <div class="containes size">

        <div class="row ">
                <div class="col-md-12">
                  <span class="help-block text-muted small-font" > Card Name</span>
                    <input type="text" class="form-control" placeholder="Enter Card Number" value="Card_374" readonly/>
                </div>
            </div>
       <div class="row ">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" > Expiry Month</span>
                    <input value="05" readonly type="text" class="form-control" placeholder="MM" />
                </div>
           <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" >  Expiry Year</span>
                    <input value="21" readonly type="text" class="form-control" placeholder="YY" />
                </div>
          <div class="col-md-3 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font" >  CCV</span>
                    <input value="485" readonly type="text" class="form-control" placeholder="CCV" />
                </div>
           <div class="col-md-3 col-sm-3 col-xs-3">
  <img src="https://cdn.pixabay.com/photo/2017/09/18/08/56/credit-card-2761073_960_720.png" class="img-rounded" />
           </div>
            </div>
       <div class="row ">
                <div class="col-md-12 pad-adjust">
                  <span class="help-block text-muted small-font" > Card Key</span>
                    <input readonly *ngIf="hid" type="text" class="form-control" placeholder="Key of card" [value]="key | hidden:true"/>
                    <input readonly *ngIf="!hid" type="text" class="form-control" placeholder="Key of card" [value]="key | hidden:false"/>
                    <input (click)="hid = !hid" *ngIf="hid" type="button"  class="btn btn-danger" value="MOSTRAR" />
                   <input (click)="hid = !hid" *ngIf="!hid" type="button"  class="btn btn-success" value="OCULTAR" />
                </div>
            </div>
       <div class="row">
  <div class="col-md-12 pad-adjust">
      <div class="checkbox">
      <label>
        <br>
        <input type="checkbox" checked class="text-muted"> Save details for fast payments <a href="#"> learn how ?</a>
      </label>
    </div>
  </div>
       </div>
         <div class="row ">
              <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                   <input type="button"  class="btn btn-danger" value="CANCELAR" />
                   
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                    <input type="button"  class="btn btn-warning btn-block" value="PAY NOW" />
                </div>
            </div>
       
                     </div>
           
            </section>